<% content_for :title, "詳細" %>

<div class="w-full md:w-2/3 mx-auto px-4 sm:px-6">
  <% if notice.present? %>
    <p id="notice" class="py-2 px-3 bg-green-50 mb-5 text-green-600 font-semibold rounded-md inline-block text-center sm:text-left">
      <%= notice %>
    </p>
  <% end %>

  <h1 class="font-bold text-2xl sm:text-4xl mb-6 text-center sm:text-left text-yellow-500">詳細</h1>

  <%= render @sake_log %>

  <div class="mt-6 flex flex-col sm:flex-row sm:items-center gap-3">
  <%= link_to "編集", edit_sake_log_path(@sake_log),
      class: "rounded-md px-5 py-3 bg-gray-400 hover:bg-gray-300 font-medium text-center w-full sm:w-auto" %>

  <%= link_to "一覧に戻る", sake_logs_path,
      class: "rounded-md px-5 py-3 bg-gray-400 hover:bg-gray-300 font-medium text-center w-full sm:w-auto" %>

  <%= button_to "削除", @sake_log, method: :delete,
      data: { confirm: "本当に削除しますか？" },
      class: "rounded-md px-5 py-3 bg-red-600 hover:bg-red-500 text-white font-medium text-center w-full sm:w-auto" %>

  <%= link_to '掲示板にシェア', new_post_path(sake_log_id: @sake_log.id), class: 'px-4 py-2 bg-yellow-600 text-white rounded hover:bg-yellow-700' %>
</div>

</div>
