<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "TokkLog." %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- OGP設定 -->
    <meta property="og:title" content="TokkLog. 日本酒記録＆掲示板アプリ" />
    <meta property="og:description" content="日本酒の記録・シェア・掲示板ができるTokkLog（トックログ）。みんなのおすすめ銘柄や味の感想をシェアしよう！" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://tokklog.com/" />
    <meta property="og:image" content="/assets/ogp.png" />
    <meta property="og:site_name" content="TokkLog." />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="TokkLog. 日本酒記録＆掲示板アプリ" />
    <meta name="twitter:description" content="日本酒の記録・シェア・掲示板ができるTokkLog（トックログ）。みんなのおすすめ銘柄や味の感想をシェアしよう！" />
    <meta name="twitter:image" content="/assets/ogp.png" />

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="bg-gray-900 min-h-screen flex flex-col">
  <%= render "layouts/header" %>

  <main class="pt-16 sm:pt-16 flex-1">
  <% if user_signed_in? %>
    <div class="text-xl text-gray-400 text-right pr-4 mb-4 mt-6">
      🌙ようこそ、<%= current_user.name %> さん🍶
    </div>
  <% end %>

  <%= yield %>
</main>

  <%= render "layouts/footer" %>
</body>

</html>
